@import "static/sass/constants";
@import "static/sass/fonts";
/* stylelint-disable no-descending-specificity */

/////////////////////////// COMMON

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: #f4f4ff94;
}

div {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

h1,
h2,
h3 {
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  border: none;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

.container_center {
  text-align: center;
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.wrapper_middle {
  max-width: 400px;
}

.input_wrapper {
  display: flex;
  flex-flow: column;

  & .label {
    text-align: left;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    align-items: center;
    letter-spacing: 0.01em;
    color: $grey-dark;
  }

  & .error {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    text-align: justify;
    color: red;
    padding: 5px;
  }
}

.input_wrapper.textarea {
  width: 100%;
}

.input {
  height: 30px;
  color: $grey-dark;
  background: #fff;
  outline: none;
  padding: 0 10px;
  border: 1px solid $grey-light;
  box-shadow: $shadow-input;
  border-radius: 5px;
  font-size: 12px;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border: 1px solid $blue;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.button {
  padding: 8px 32px;
  background: $blue;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  text-transform: uppercase;
  border: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: $blue-dark;
    transition: background 0.5s ease;
  }
}

.link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: $blue;

  &:hover {
    color: $blue-dark;
  }
}

.title {
  padding-bottom: 25px;
}

.avatar {
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hidden {
  display: none !important;
}

/////////////////////////// DROPDOWN
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
  border-radius: 5px;

  & .dropdown_item {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border: 0;
    width: 100%;
    background-color: white;
    transition: 0.5s ease background-color;
    border-radius: 5px;

    &:hover {
      background-color: $grey-light;
    }
  }
}

.show {
  display: block;
}

/////////////////////////// DROPDOWN

//////////////////////////// DIALOG
.dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.dialog_background {
  background: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
}

.dialog_content {
  z-index: 7;
  background-color: white;
  top: 30%;
  position: absolute;
  border-radius: 20px;
  padding: 25px;
}

.close_dialog {
  text-align: right;
}

.dialog_close_btn {
  border: 0;
  background: white;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.settings_chat_title {
  text-align: center;
  padding: 10px 0;
}

.create_chat_dialog {
  width: 250px;

  & .input_wrapper {
    margin: 10px 0;
  }
}

.settings_chat_users_container {
  width: 80%;
  padding-bottom: 10px;
}

.setting_chat_user {
  display: flex;
  padding: 5px 0;

  & .user {
    padding-right: 10px;
  }
}

.settings_chat_add_user_form {
  display: flex;
  align-items: center;
  width: 300px;

  & .input_wrapper {
    padding-bottom: 10px;
    width: 80%;
  }
}

.settings_chat_delete_button,
.settings_chat_add_button {
  border: 0;
  background: none;
  cursor: pointer;
}

//////////////////////////// DIALOG

/////////////////////////// COMMON

/////////////////////////// ERROR-pages
.content {
  height: 100%;
}

.code_error {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}

.text_error {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 45px 0;
}

.code_img {
  padding-bottom: 45px;

  & img {
    width: 100%;
  }
}

/////////////////////////// ERROR-pages

/////////////////////////// AUTH
.form_auth {
  display: flex;
  flex-flow: column;
  margin-bottom: 25px;
  width: 300px;

  & .input_wrapper {
    margin-bottom: 25px;
    min-width: 200px;
  }

  & .button {
    margin-top: 5px;
  }
}

/////////////////////////// AUTH

/////////////////////////// HEADER
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  background: radial-gradient(circle, rgba(49,213,255,0.616982) 65%, rgba(70,80,252,0.3) 100%);
  padding: 15px 30px;
  height: 125px;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 25%);
}

.header_actions {
  & .header_item {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.input_search {
  border: none;
}

.header_nav_item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  padding-right: 15px;
  background: url("../icons/arrowRight.svg") no-repeat right center;
  opacity: 90%;
  color: #002da1;
  font-weight: bold;

  &:hover,
  &:focus {
    opacity: 100%;
  }
}

.link_active {
  opacity: 100%;
}

.link_grey {
  color: $grey-light;
  background: url("../icons/arrowRightGrey.svg") no-repeat right center;

  &:hover {
    color: $grey-dark;
  }
}

.header_list {
  text-align: end;

  & .header_item {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

/////////////////////////// HEADER

/////////////////////////// USER PROFILE
.user_avatar {
  margin: 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    & .button_user_avatar_text {
      opacity: 50%;
    }
  }
}

.button_user_avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0%;
}

.input_file {
  width: 100%;
  height: 100%;
}

.button_user_avatar_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0%;
  background: black;
  color: white;
  text-transform: uppercase;
  transition: 0.6s opacity;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.profile_container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.form_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .input_wrapper {
    margin-bottom: 20px;
    max-width: 40%;
  }

  & .button {
    margin-top: 10px;
  }
}

/////////////////////////// USER PROFILE

///////////////////////////// CHAT

// CHAT FEED
.route {
  all: inherit;
}

.container_page {
  all: inherit;
  overflow: auto;
}

.chat_container {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100% - 125px);
}

.chat_feed {
  width: 30%;
  min-width: 100px;
  overflow: auto;
}

.chat_feed::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.chat_feed::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d7d7d7;
}

.chat_feed::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

.chat_dialog {
  width: 70%;
  min-width: 200px;
  overflow: auto;
  position: relative;
  height: calc(100% - 145px);
}

.chat_dialog::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.chat_dialog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d7d7d7;
}

.chat_dialog::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

.chat {
  display: flex;
  width: 70%;
}

.chat_stub {
  text-align: center;
  margin: 150px auto 0;
  color: $grey-light;
  font-style: italic;
}

.chat_preview {
  display: flex;
  position: relative;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  background-color: #eaeaea87;
  padding: 10px;
  max-height: 130px;
  cursor: pointer;
  transition: 0.5s ease background-color;
  margin: 5px;
}

.chat_preview.active {
  background-color: white;
}

.chat_preview:hover {
  background-color: rgb(0 0 0 / 20%);
}

.chat_preview_text {
  width: 80%;
}

.chat_preview_info {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat_preview_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chat_preview_message {
  font-size: 12px;
  line-height: 24px;
  color: $grey-dark;
  max-height: 55px;
  overflow: hidden;
}

.chat_preview_count {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: white;
  padding: 4px;
  background-color: $blue;
  border-radius: 5px;
  margin-bottom: 5px;
}

.chat_preview_count.invisible {
  visibility: hidden;
}

.chat_preview_time {
  font-size: 10px;
  line-height: 10px;
  color: $grey-dark;
  margin-bottom: 5px;
  text-align: right;
}

.chat_preview_avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
  }
}

.button_chat_preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0%;
  border: 0;
  cursor: pointer;
  background-color: black;
  transition: 0.5s ease opacity;

  &:hover {
    opacity: 20%;
  }
}

// CHAT FEED

// CHAT DIALOG
.chat_dialog_context_menu {
  display: flex;
  position: fixed;
  text-align: center;
  width: 70%;
  height: 40px;
  z-index: 5;
  justify-content: center;
  margin-top: 10px;
}

.empty_chat {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  color: #afb4b8;
}

.button_dialog_context_menu {
  margin: 0 auto;
  width: 70px;
  position: relative;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgb(0 0 0 / 20%);

  & .dropbtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 0%;
    border: 0;
    cursor: pointer;
  }
}

.dialog_day_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.dialog_date {
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $grey-dark;
  padding-bottom: 40px;
}

.dialog_message_container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 25px;
}

.dialog_message_item {
  &:first-child {
    width: 10%;
  }

  &:last-child {
    width: 90%;
  }
}

.dialog_message_user_avatar {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
  }
}

.dialog_message_user_name {
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
  color: black;
}

.dialog_message_container.my_message {
  flex-direction: row-reverse;

  & .dialog_message_item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.dialog_message_info_container {
  display: flex;
  justify-content: space-between;
  background: rgb(238 241 248 / 58%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  max-width: 560px;
  padding: 20px;
}

.dialog_message_info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog_message_text {
  font-size: 12px;
  line-height: 14px;
  padding: 10px 0;
  overflow: hidden;
}

.dialog_message_time {
  font-size: 12px;
  line-height: 12px;
  color: $grey-dark;
}

.dialog_message_status {
  height: 15px;
  background: url("../icons/success_grey.svg") no-repeat right center;
}

.dialog_message_status.read {
  background: url("../icons/success_blue.svg") no-repeat right center;
}

.chat_dialog_message_editor {
  position: fixed;
  bottom: 0;
  height: 145px;
  width: 70%;
  padding: 15px 40px;
}

.form_message {
  display: flex;
  align-items: center;
}

.message_editor {
  padding-right: 30px;
  width: 90%;
}

.message_textarea {
  height: 100px;
  border: 0;
  background: white;
  border-radius: 25px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 20%);
}

.message_buttons {
  display: flex;
  align-items: center;
  width: 10%;
}

.message_buttons_attach_file {
  background: none;
  border: none;
  height: 44px;
  width: 44px;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}

.message_buttons_send {
  padding: 13px;
  display: flex;
}

// CHAT DIALOG
///////////////////////////// CHAT

/* stylelint-enable no-descending-specificity */
